[Unit]
Description=Mirror Engine

[Service]
User=pi
Group=pi
Environment="DISPLAY=:0.0"
WorkingDirectory=/home/pi/mirror_engine
ExecStart=/home/pi/mirror_engine/mirror.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
Alias=mirror_engine.service
